
  <div class="container">

    <h2 class="title">Ingrese Nuevo Colaborador</h2>
    
      <mat-tab-group class="datos">

        <mat-tab label="Datos Personales">
      
            <div class="d-grid p-2 bd-highlight d-flex justify-content-center">
              <form class="d-grid gap-3">
              
                <input type="text" name="nombre" class="form-control" placeholder="Ingrese Nombre" [(ngModel)]="nuevoColaborador.nombre">
                <input type="text" name="apellido" class="form-control" placeholder="Ingrese Apellido" [(ngModel)]="nuevoColaborador.apellido">
                <input type="text" name="dni" class="form-control" placeholder="DNI" [(ngModel)]="nuevoColaborador.dni">
                <input type="text" name="cuit" class="form-control" placeholder="CUIT" [(ngModel)]="nuevoColaborador.cuit">
                <label for="">Fecha Nacimiento</label>
                <input type="date" name="nacimiento" class="form-control"
                        [ngModel]="nuevoColaborador.nacimiento | date:'yyyy-MM-dd'"
                        (ngModelChange)="nuevoColaborador.nacimiento = $event"> 
                <input type="text" name="edad" class="form-control" placeholder="Edad" [(ngModel)]="nuevoColaborador.edad">
                <input type="text" name="domicilio" class="form-control" placeholder="Ingrese Dirección" [(ngModel)]="nuevoColaborador.direccion">
  
              </form>
            </div>
          
        </mat-tab>

        <mat-tab label="Datos Laborales">

            <div class="d-grid p-2 bd-highlight d-flex justify-content-center">
              <form class="d-grid gap-3">
                <label for="">Fecha Ingreso</label>
              <input type="date" name="nacimiento" class="form-control"
              [ngModel]="nuevoColaborador.nacimiento | date:'yyyy-MM-dd'"
              (ngModelChange)="nuevoColaborador.fecha_ingreso= $event"> 

              <mat-form-field appearance="fill" class="mt20 w100">
                <mat-label>Convenio</mat-label>
                <mat-select name="convenio" [(ngModel)]="nuevoColaborador.convenio.idConvenio" (ngModelChange)="onConvenioChange()">
                  <mat-option *ngFor = "let c of convenios" [value] = "c.idConvenio">
                    {{ c.nombre }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill" class="mt20 w100">
                <mat-label>Categoria</mat-label>
                <mat-select name="categoria" [(ngModel)]="nuevoColaborador.categoria.idCategoria">
                    <mat-option *ngFor="let cate of categorias" [value]="cate.idCategoria">
                        {{ cate.nombre }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            
            <mat-form-field appearance="fill" class="mt20 w100">
                <mat-label>Obra Social</mat-label>
                <mat-select name="obraSocial" [(ngModel)]="nuevoColaborador.obraSocial.idObraSocial">
                    <mat-option *ngFor="let obra of obraSocial" [value]="obra.idObraSocial">
                        {{ obra.nombre }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
              </form>
            </div>

            <div class="form-footer d-flex justify-content-center">
              <button type="submit" class="btn btn-info m-2" [routerLink]="['/colaborador']" routerLinkActive="router-link-active" (click)="agregar()">
                Confirmar
              </button>
              <button type="reset" class="btn btn-secondary m-2" [routerLink]="['/menu']" routerLinkActive="router-link-active">
                Cancelar
              </button>
            </div>
        </mat-tab>

      </mat-tab-group>
    
    
  </div>



  
  