<div style="text-align: center;">
  <h2>Grilla de Novedades</h2>
<!-- Lista desplegable para seleccionar el período -->
<div style="margin-bottom: 20px;">
  <label for="periodoSelect">Seleccionar período:</label>
  <select id="periodoSelect" [(ngModel)]="selectedPeriod">
    <option *ngFor="let periodo of periodos; let i = index" [value]="i + 1">{{ periodo }}</option>
  </select>
  <button mat-stroked-button class="mat-primary" (click)="filtrarNovedades()">Filtrar</button>
</div>
  <table>
    <thead>
      <tr>
        <th>Colaborador</th>
        <th>CUIT</th>
        <th>Vacaciones</th>
        <th>Feriado</th>
        <th>Inasistencia Justificada</th>
        <th>Inasistencia Injustificada</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let novedad of novedades">
        <td>{{ novedad.colaborador?.nombre }} {{ novedad.colaborador?.apellido }}</td>
        <td>{{ novedad.colaborador?.cuit }}</td>
        <td>{{ novedad.vacaciones }}</td>
        <td>{{ novedad.feriado }}</td>
        <td>{{ novedad.inasistenciaJustificada }}</td>
        <td>{{ novedad.inasistenciaInjustificada }}</td>
        <td>
          <!-- Aquí puedes agregar botones o enlaces para acciones adicionales -->
        </td>
      </tr>
    </tbody>
  </table>
</div>

