<div class="container">
  <h2 class="title">Grilla de Novedades</h2>

  <div class="filter-container">
    <mat-form-field>
      <mat-label>Seleccionar Mes</mat-label>
      <mat-select [(ngModel)]="selectedMonth">
        <mat-option *ngFor="let month of months" [value]="month.value">{{ month.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Seleccionar Año</mat-label>
      <mat-select [(ngModel)]="selectedYear">
        <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button (click)="filtrarNovedadesByMonth()">Filtrar</button>
  </div>

    <!-- Agregar botones de exportación -->
    <div class="exportar-container">
      <button mat-icon-button matTooltip="Exportar a Excel" (click)="generarExcelNovedades(selectedMonth, selectedYear)">
        <mat-icon>file_download</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Exportar a PDF" (click)="imprimirPdfNovedades(selectedMonth)">
        <mat-icon>picture_as_pdf</mat-icon>
      </button>
    </div>


  <table class="novedades-table">
    <thead>
      <tr>
        <th>Colaborador</th>
        <th>CUIT</th>
        <th>Vacaciones</th>
        <th>Feriado</th>
        <th>Inasistencia Justificada</th>
        <th>Inasistencia Injustificada</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let novedad of novedades">
        <td>{{ novedad.colaborador?.nombre }} {{ novedad.colaborador?.apellido }}</td>
        <td>{{ novedad.colaborador?.cuit }}</td>
        <td>{{ novedad.vacaciones }}</td>
        <td>{{ novedad.feriado }}</td>
        <td>{{ novedad.inasistenciaJustificada }}</td>
        <td>{{ novedad.inasistenciaInjustificada }}</td>
      </tr>
    </tbody>
  </table>
</div>
