<div class="container">
 
  <h2 class="title">Ingrese Datos de la Obra Social</h2>

    <!-- Formulario -->
    <div class="form-container">
      <form class="d-grid gap-2">
        
        <input type="text" name="numero" class="form-control" placeholder="Ingrese Codigo Obra Social" [(ngModel)]="nuevo.codigo">
        <input type="text" name="nombre" class="form-control" placeholder="Ingrese nombr Obra Social" [(ngModel)]="nuevo.nombre">

        <div class="form-footer d-flex justify-content-between">
          <button type="submit" class="btn btn-custom" [routerLink]="['/obrasocial']" routerLinkActive="router-link-active" (click)="agregar()">Confirmar Cambios</button>
          <button type="reset" class="btn btn-custom2" [routerLink]="['/menu']" routerLinkActive="router-link-active">Cancelar</button>
        </div>
      </form>
    </div>

    <h2 class="title">Obra Social Generada</h2>
    <!-- Tabla -->
    <div class="table-container">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Obra Social</th>
            <th scope="col">Codigo</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let obrasocial of lista">
            <td>{{obrasocial.nombre}}</td>
            <td>{{obrasocial.codigo}}</td>
            <td>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button mat-mini-fab color="stroked" routerLink="/editarObra/:id/{{obrasocial.idObrasocial}}"><mat-icon>create</mat-icon></button>
                <button mat-mini-fab color="stroked"><mat-icon>delete</mat-icon></button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

</div>


