
<div class="container">

    <table class="table table-bordered border-primary">
        <thead>
            <tr class="table-active">
                <th scope="col" colspan="3">APELLIDO Y NOMBRE</th>
                <th scope="col">CUIL</th>
                <th scope="col" colspan="2">LEGAJO N°</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="3">MENDEZ OSCAR</td>
                <td>24-22332222-3</td>
                <td colspan="2">1</td>
            </tr>

        <tr class="table-active">
            <th scope="col">FECHA</th>
            <th scope="col" colspan="2">CATEGORIA</th>
            <th scope="col" colspan="3">CONTRATACIÓN</th>
        </tr>
    
        <tr>
            <td>12-01-2024</td>
            <td colspan="2">Administrativo A</td>
            <td colspan="3">Periodo de prueba</td>
        </tr>

        <tr class="table-active">
            <th scope="col" colspan="3">REMUNERACIÓN ASIGNADA</th>
            <th scope="col">PERIODO DE PAGO</th>
            <th scope="col" colspan="2">RECIBO N°</th>
        </tr>

        <tr>
            <td colspan="3">$ 50.000</td>
            <td>Diciembre 2023</td>
            <td colspan="2">1</td>
        </tr>

        <tr class="table">
            <th scope="col" colspan="4">DETALLE DE LIQUIDACIÓN</th>
        </tr>

        <tr class="table-active">
            <th scope="col">CONCEPTO</th>
            <th scope="col">V.U</th>
            <th scope="col">UNIDADES</th>
            <th scope="col">REMUNERATIVA</th>
            <th scope="col">NO REMUNERATIVA</th>
            <th scope="col">DESCUENTO</th>
        </tr>
    
        <tr>
            <td>Sueldo Basico</td>
            <td>antiguedad</td>
            <td>presentismo</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
        </tr>

        <tr>
            <th scope="row">3</th>
            <td colspan="2" class="table-active">Larry the Bird</td>
            <td>@twitter</td>
        </tr>
        </tbody>
    </table>

</div>