<div class="container">

  <h2 class="title">Editar Convenio</h2>

    <div class="form-container">
  
              <form class="d-grid gap-2">
           
                
                <input type="text" name="numero" class="form-control" placeholder="Ingrese Numero Convenio" [(ngModel)]="actual.numero">
  
                <input type="text" name="nombre" class="form-control" placeholder="Ingrese nombr Categoria" [(ngModel)]="actual.nombre">

                <div class="form-footer">
  
                  <div class="col" class="d-inline p-2">
                  <button type="submit" class="button" class= "btn btn-custom" [routerLink]="['/convenio']" routerLinkActive="router-link-active" (click)="guardar()">
                    Confirmar Cambios</button>
                  </div>
  
                  <div class="col" class="d-inline p-2">
                    <button type="reset" class="button" class="btn btn-custom2" [routerLink]="['/menu']" routerLinkActive="router-link-active">
                    Cancelar</button>
                  </div>
                  
                </div>
          
              </form>
  
    </div>
  
  </div>


