<div class="container">

    <section class="section-1">
        <h1>Sistema de Control de Ausentismo</h1>
        <p>Bienvenidos al sistema de control de ausentismo,
            en el que podrás gestionar altas, bajas y modificación de convenios,
            colaboradores, asignar novedades en un determinado periodo.
        </p>
    </section>

    <section class="section-2">

        <div class="section-2-1">
            <label for="btn1" class="label">Legajos</label>
            <a href="/colaborador">
                <button mat-stroked-button class="mat-primary">
                    <i class="icon fa fa-address-card" aria-hidden="true"></i>
                </button>
            </a>
        </div>

        <div class="section-2-1">
            <label for="btn1" class="label">Convenios</label>
            <a href="/convenio">
                <button mat-stroked-button class="mat-primary">
                    <i class="icon fa fa-handshake" aria-hidden="true"></i>
                </button>
            </a>
        </div>
    
        <div class="section-2-1">
            <label for="btn1" class="label">Obra Social</label>
            <a href="/obrasocial">
                <button mat-stroked-button class="mat-primary">
                    <i class="icon fas fa-notes-medical" aria-hidden="true"></i>
                </button>
            </a>
        </div>
    
        <div class="section-2-1">
            <label for="btn3" class="label">Control Ausentismo</label>
            <a href="/liquidacion">
                <button mat-stroked-button class="mat-primary">
                    <i class="icon fa fa-calculator" aria-hidden="true"></i>
                </button>
            </a>
        </div>

    </section>

</div>