/* Estilo para la sección 1 */
.section-1{
    text-align: center; 
    margin-bottom: 55px;
    font-family: Garamond;
   /* font-family: 'Arial', sans-serif;  Cambiar el font-family a uno más estético */
    font-size: 24px; /* Aumentar el tamaño del texto */
    color: #333;
    line-height: 1.5; /* Ajustar el espacio entre líneas */
    padding-top: 50px; /* Añadir espacio superior */
}

.section-1 h1{
    font-family: Garamond;
    font-size: 40px;
}

/* Estilo para agrandar los iconos al pasar el mouse sobre el botón */
.mat-primary:hover .icon {
    transform: scale(1.9); /* Escalar el icono al 120% */
    color: black;
}

/* Estilo inicial para los iconos */
.icon {
    font-size:30px;
    color: #959888;
    transition: transform 0.3s; /* Suaviza la transición del tamaño del ícono */
}

/*seccion 2 */
.section-2 {
    margin-bottom: 50px;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding-top: 40px; /* Añadir espacio superior */
}

.section-2-1 {
    text-align: center;
}

.label {
    display: block; 
    margin-bottom: 10px;
    font-family: Garamond;
    font-size: 25px;
    color: #333;
}

.mat-primary {
    width: 250px; 
    height: 200px;
}
