<div class="container">

    <div class="container" class="d-flex justify-content-start">

        <section class="bg-white p-5 text-secondary shadow" style="width: 50rem">
            <h1>Sistema de Liquidación de Sueldos</h1>
            <p>Bienvinidos al sistema de liquidacíon de sueldos,
                en el que podras gestionar altas, bajas y modificacion de tus colaboradores, 
                multiconvenio......
            </p>
        </section>


        <section class="container" class="d-flex justify-content-end">
        <div>
            <img src="../../../assets/imagenes/portada.jpg" style="height: 20rem">
        </div>
        </section>

    </div>
</div>