<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand" href="#">
      <img src="assets/imagenes/logo-Scavas-500x333.png" alt="Logo de Scavas" height="30">
    </a>
   
    <!-- Botón para colapsar en dispositivos pequeños -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Lista de enlaces -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto"> <!-- 'ms-auto' para alinear a la derecha -->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sobre Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="body">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5>Información de Contacto</h5>
        <ul>
          <li>Teléfono: +123456789</li>
          <li>Correo electrónico: info@scavas.com</li>
          <li>Dirección: Dirección de Scavas, Ciudad, País</li>
        </ul>
      </div>
      <div class="col-md-6">
        <h5>Enlaces Útiles</h5>
        <ul>
          <li><a href="#">Términos y Condiciones</a></li>
          <li><a href="#">Política de Privacidad</a></li>
          <li><a href="#">Mapa del Sitio</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>


