<div class="container">
    <section class="section-1">
        <h1>Bienvenido a nuestro software de gestión laboral</h1>
    </section>
    <section class="section-2">
        <h2>Sobre nosotros</h2>
        <p>Nos especializamos en simplificar la gestión de recursos humanos para tu empresa. Nuestro software lleva a cabo un control exhaustivo del ausentismo, vacaciones, feriados y más. Es como tener un asistente virtual que organiza y optimiza la administración del personal, permitiéndote enfocarte en lo más importante: el crecimiento de tu negocio.</p>
        <p>Desde la planificación de horarios hasta la gestión de permisos, nuestro software está diseñado para hacer tu vida laboral más fácil y eficiente. Olvídate de las complicaciones y disfruta de una gestión laboral sin estrés. ¡Bienvenido a una nueva era de organización laboral con nuestro software!</p>
    </section>
</div>
