<div class="container">

  <section class="section-1">
    <h1>Control de Novedades</h1>
  </section>

  <section class="section-2">

      <div class="section-2-1">
          <label class="label">Nueva Novedad</label>
          <button mat-stroked-button class="mat-primary" [routerLink]="['/nuevaNovedad']">
              <i class="icon fa fa-plus-circle"></i>
          </button>
      </div>

      <div class="section-2-1">
          <label class="label">Consulta Novedades</label>
          <button mat-stroked-button class="mat-primary" [routerLink]="['/novedades']">
            <i class="icon fa fa-search"></i>
          </button>

      </div>
  </section>
</div>


