<div class="container" style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh;">

  <section style="display: flex; justify-content: center; align-items: center; gap: 20px;">
    
    <div style="text-align: center;">
      <label for="btn2" style="display: block; margin-bottom: 10px;">Periodo liquidación</label>
      <button id="btn2" mat-stroked-button class="mat-primary" style="width: 200px; height: 150px;">
          <mat-icon style="font-size: 16px;"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></mat-icon>
      </button>
    </div>

    <div style="text-align: center;">
      <label for="btn2" style="display: block; margin-bottom: 10px;">Nueva Liquidación</label>
      <button id="btn2" mat-stroked-button class="mat-primary" style="width: 200px; height: 150px;" [routerLink]="['/nuevaLiquidacion']">
          <mat-icon style="font-size: 16px;"><i class="far fa-calendar-plus" aria-hidden="true"></i></mat-icon>
      </button>
    </div>

    <div style="text-align: center;">
      <label for="btn2" style="display: block; margin-bottom: 10px;">Emisiòn de Recibos</label>
      <button id="btn2" mat-stroked-button class="mat-primary" style="width: 200px; height: 150px;"  [routerLink]="['/recibos']">
          <mat-icon style="font-size: 16px;"><i class="far fa-file-alt" aria-hidden="true"></i></mat-icon>
      </button>
    </div>

    <div style="text-align: center;">
      <label for="btn2" style="display: block; margin-bottom: 10px;">Consulta de Liquidaciones</label>
      <button id="btn2" mat-stroked-button class="mat-primary" style="width: 200px; height: 150px;">
          <mat-icon style="font-size: 16px;"><i class="fas fa-search" aria-hidden="true"></i></mat-icon>
      </button>
    </div>

  </section>


</div>

