<p>nueva-novedad works!</p>
<div class="container" style="position: relative; height: 100vh;">

  <!-- Botón "Periodo liquidación" en el margen superior izquierdo -->
  <div style="position: absolute; top: 10px; left: 10px;">
    <div style="display: flex; flex-direction: column; align-items: center;">
      <button id="btn-periodo" mat-stroked-button class="mat-primary" (click)="togglePeriodSelector()">
        <mat-icon style="font-size: 16px;"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></mat-icon>
        <span id="periodo-text">Seleccionar período</span> <!-- Aquí se mostrará el texto del período seleccionado -->
      </button>
      <!-- Lista desplegable para seleccionar el período -->
      <div *ngIf="showPeriodSelector" style="margin-top: 10px;">
        <select [(ngModel)]="selectedPeriod">
          <option *ngFor="let periodo of periodos" [value]="periodo">{{ periodo }}</option>
        </select>
      </div>
    </div>
  </div>
   
     <!-- Contenedor principal -->
     <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;">
   
       <!-- Grilla de Liquidación -->
       <div style="text-align: center;">
         <h2>Grilla de Novedades</h2>
         <table>
           <thead>
             <tr>
              <th>Colaborador</th>
              <th>CUIT</th>
              <th>Vacaciones</th>
              <th>Feriado</th>
              <th>Inasistencia Justificada</th>
              <th>Inasistencia Injustificada</th>
             </tr>
           </thead>
           <tbody>
             <tr *ngFor="let colaborador of colaboradores">
               <td>{{ colaborador.nombre }} {{ colaborador.apellido }}</td>
               <td>{{ colaborador.cuit }}</td>
               <td *ngIf="colaborador && colaborador.nuevaNovedad"><input type="number" [(ngModel)]="colaborador.nuevaNovedad.vacaciones"></td>
               <td *ngIf="colaborador && colaborador.nuevaNovedad"><input type="number" [(ngModel)]="colaborador.nuevaNovedad.feriado"></td>
               <td *ngIf="colaborador && colaborador.nuevaNovedad"><input type="number" [(ngModel)]="colaborador.nuevaNovedad.inasistenciaJustificada"></td>
               <td *ngIf="colaborador && colaborador.nuevaNovedad"><input type="number" [(ngModel)]="colaborador.nuevaNovedad.inasistenciaInjustificada"></td>
                <button (click)="asignarNovedadAColaborador(colaborador)">Asignar</button>
                </tr>
           </tbody>
         </table>
       </div>
       
      
     </div>
   
   </div>
   
