.container {
    text-align: center;
  }
  
  .title {
    margin-bottom: 30px;
    padding: 20px;
  }
  
  .filter-container {
    margin-bottom: 20px;
  }
  
  .periodo-select {
    margin-right: 10px;
  }
  
  .novedades-table {
    width: 100%;
    border-collapse: collapse;
  }

  .membrete{
    background-color: #333;
  }
  
  .novedades-table th,
  .novedades-table td {
    border: 1px solid #959888;
    padding: 8px;
  }
  
  .novedades-table th {
    background-color: #333;
    color: #ddd;
    font-weight: bold;
  }
  
  .btn-asignar {
    background-color: #959888;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn-asignar:hover {
    background-color: fff;
    color: #333;
  }
  