
   <div class="container">
    <h2 class="title">Grilla de Novedades</h2>
  
    <div class="filter-container">
    <mat-form-field>
      <mat-label>Seleccionar Período</mat-label>
      <input matInput [matDatepicker]="dp" [formControl]="date">
      <mat-hint>MM/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker #dp startView="multi-year" panelClass="example-month-picker"></mat-datepicker>
    </mat-form-field>
  </div>
  
    <table class="novedades-table">
      <thead class="membrete">
        <tr>
          <th>Colaborador</th>
          <th>CUIT</th>
          <th>Vacaciones</th>
          <th>Feriado</th>
          <th>Inasistencia Justificada</th>
          <th>Inasistencia Injustificada</th>
          <th>Asignar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let colaborador of colaboradores">
          <td>{{ colaborador.nombre }} {{ colaborador.apellido }}</td>
          <td>{{ colaborador.cuit }}</td>
          <td *ngIf="colaborador && colaborador.nuevaNovedad"><input type="number" [(ngModel)]="colaborador.nuevaNovedad.vacaciones"></td>
          <td *ngIf="colaborador && colaborador.nuevaNovedad"><input type="number" [(ngModel)]="colaborador.nuevaNovedad.feriado"></td>
          <td *ngIf="colaborador && colaborador.nuevaNovedad"><input type="number" [(ngModel)]="colaborador.nuevaNovedad.inasistenciaJustificada"></td>
          <td *ngIf="colaborador && colaborador.nuevaNovedad"><input type="number" [(ngModel)]="colaborador.nuevaNovedad.inasistenciaInjustificada"></td>
          <td><button class="btn-asignar" (click)="asignarNovedadAColaborador(colaborador)">Asignar</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  