
<div class="container">

    <div class="container" class="d-flex justify-content-center">
  
        <div class="bg-white p-5 rounded-5 text-secondary shadow" style="width: 30rem">
  
            <div class="d-grid" class="p-2 bd-highlight" class="d-flex justify-content-center"> 
  
              <form class="d-grid gap-2">
                <h2>Ingrese Datos de la categoria</h2>
                
                <input type="text" name="nombre" class="form-control" placeholder="Ingrese Nombre de la Categoria" [(ngModel)]="nuevaCategoria.nombre">
  
                <input type="text" name="descripcion" class="form-control" placeholder="Ingrese Descripcion de la categoria" [(ngModel)]="nuevaCategoria.descripcion">

                <h4>Seleccione el convenio al que pertence</h4>

                <mat-form-field appearance="fill" class="mt20 w100">
                  <mat-label>Convenios</mat-label>
                  <mat-select name="categoria" [(ngModel)] = "nuevaCategoria.convenio.idConvenio">
                    <mat-option *ngFor = "let c of convenios" [value] = "c.idConvenio">
                      {{ c.nombre }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              


                <div class="form-footer">
  
                  <div class="col" class="d-inline p-2">
                  <button type="submit" class="button" class= "btn btn-info" [routerLink]="['/categoria']" routerLinkActive="router-link-active" (click)="agregarCategoria()">
                    Confirmar</button>
                  </div>
  
                  <div class="col" class="d-inline p-2">
                    <button type="reset" class="button" class="btn btn-secondary" [routerLink]="['/menu']" routerLinkActive="router-link-active">
                    Cancelar</button>
                  </div>
                  
                </div>
          
              </form>
          
            </div>
  
        </div>
  
    </div>
  
  </div>