<div class="container">
  <!-- Botón Categorías -->
  <div class="d-flex justify-content-end mt-2">
    <button mat-raised-button [routerLink]="['/categoria']">Categorías</button>
  </div>
   <!-- Título y formularios -->
  <h2 class="title">Ingrese Datos del Convenio</h2>

  <div class="filter-container">
    <!-- Agregar filtros si es necesario -->
  </div>

  <div class="exportar-container">
    <!-- Agregar botones de exportación si es necesario -->
  </div>

  <div class="form-container">
    
      <form class="d-grid gap-2">
        <input type="text" name="numero" class="form-control" placeholder="Ingrese Numero Convenio" [(ngModel)]="nuevo.numero">
        <input type="text" name="nombre" class="form-control" placeholder="Ingrese Nombre de Convenio" [(ngModel)]="nuevo.nombre">
        <div class="form-footer">
          <div class="form-footer d-flex justify-content-between">
            <button type="submit" class="button btn btn-info" [routerLink]="['/convenio']" routerLinkActive="router-link-active" (click)="agregar()">Confirmar</button>
            <button type="reset" class="button btn btn-secondary" [routerLink]="['/menu']" routerLinkActive="router-link-active">Cancelar</button>
          </div>
        </div>
      </form>
    
  </div>

  <h2 class="title">Convenios Generados</h2>

  <div class="table-container">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">N°</th>
            <th scope="col">Numero</th>
            <th scope="col">Nombre Convenio</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let convenio of lista">
            <td>{{convenio.idConvenio}}</td>
            <td>{{convenio.numero}}</td>
            <td>{{convenio.nombre}}</td>
            <td>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button mat-mini-fab color="stroked" routerLink="/editarC/{{convenio.idConvenio}}"><mat-icon>create</mat-icon></button>
                <button mat-mini-fab color="stroked" (click)="eliminar(convenio.idConvenio)"><mat-icon>delete</mat-icon></button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>

