<div class="container">

    <div class="container" class="d-flex justify-content-center">
  
        <div class="bg-white p-5 rounded-5 text-secondary shadow" style="width: 30rem">
  
            <div class="d-grid" class="p-2 bd-highlight" class="d-flex justify-content-center"> 
  
              <form class="d-grid gap-2">
                <h2>Editar Datos Colaborador</h2>
                
                <input type="text" name="nombre" class="form-control" placeholder="Ingrese Nombre" [(ngModel)]="actual.nombre">
  
                <input type="text" name="apellido" class="form-control" placeholder="Ingrese Apellido" [(ngModel)]="actual.apellido">
  
                <input type="text" name="dni" class="form-control" placeholder="DNI" [(ngModel)]="actual.dni">

                <input type="date" name="nacimiento" class="form-control" placeholder="Fehca Nacimiento" [ngModel]="actual.nacimiento">
                  
                <input type="text" name="edad" class="form-control" placeholder="Edad" [(ngModel)]="actual.edad">
        
                <input type="text" name="direccion" class="form-control" placeholder="Ingrese Dirección" [(ngModel)]="actual.direccion">
  
                <input type="text" name="convenio" class="form-control" placeholder="Convenio" [(ngModel)]="actual.convenio">
  
                <div class="form-footer">
  
                  <div class="col" class="d-inline p-2">
                  <button type="submit" class="button" class= "btn btn-info" [routerLink]="['/colaborador']" routerLinkActive="router-link-active" (click)="guardar()">
                    Confirmar Cambios</button>
                  </div>
  
                  <div class="col" class="d-inline p-2">
                    <button type="reset" class="button" class="btn btn-secondary" [routerLink]="['/menu']" routerLinkActive="router-link-active">
                    Cancelar</button>
                  </div>
                  
                </div>
          
              </form>
          
            </div>
  
        </div>
  
    </div>
  
  </div>

